/*  */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(225, 100%, 94%);
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* class for the background of the body */
.background_body {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

/* styles of text in the card  */
.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.plan_text {
  color: hsl(223, 47%, 23%);
}

.color_text {
  color: hsl(224, 23%, 55%);
  font-size: 16px;
}

.font_strong {
  font-weight: 700;
}

/* image and container */
.container_img {
  width: 450px;
  height: 210px;
}

.img_order {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* card container */
.container_order {
  position: relative;
  width: 450px;
  height: 650px;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
}

/* middle card and final buttons together */
.container_change {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 45%;
}

/* middle card*/
.container_plan-anual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: hsl(225, 100%, 98%);
}

.second_container-plan-anual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.Anual_plan-text {
  display: inline-block;
  margin-bottom: 8px;
}

/* Buttons */
.btn_blue,
.btn_white,
.btn_plan-change {
  display: inline-block;
  font-size: 12px;
}

.btn_blue {
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 20px 15px 3px hsl(225, 100%, 94%);
}

.btn_blue:hover {
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.btn_white {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  margin-top: 10px;
}

.btn_white:hover {
  color: hsl(223, 47%, 23%);
  transition: all 0.5s ease-out;
}

.btn_plan-change {
  color: hsl(245, 75%, 52%);
}

.btn_plan-change:hover {
  opacity: 0.7;
  transition: all 0.5s ease-out;
  text-decoration: none;
}

/* attribution  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  body {
    background-image: url("/images/pattern-background-mobile.svg");
  }
}
